@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins:wght@500&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  padding: 3% 10% 3% 10%;
  align-items: center;
  justify-content: space-between;
  background: #3c3a39;
}

.header a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.header i {
  color: #fff;
}

#menu {
  color: #fff;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1c1a19;
  gap: 12px;
  padding-top: 140px;
  padding-bottom: 140px;
  justify-content: flex-start;
  background-image: url("./icons/Group.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 100%;
}

.headline h1 {
  color: #ff6b00;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  font-family: "Crete Round", serif;
  line-height: 64px;
  letter-spacing: 0.37px;
  margin-bottom: -25px;
  margin-top: -25px;
  padding-left: 24px;
  animation: appear 7s;
}

@keyframes appear {
  from {
    color: #1c1a19;
  }

  to {
    color: #ff6b00;
  }
}

.headline h2 {
  font-family: "Roboto", sans-serif;
  color: #fff5e1;
  margin-bottom: -15px;
  padding-left: 24px;
}

.headline p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-left: 24px;
  padding-right: 24px;
}

.social a {
  color: #dbd8d7;
  letter-spacing: 2px;
  font-size: 24px;
  padding-left: 24px;
  display: inline-block;
  transition: transform 2s;
}

.social ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-left: 5px;
  margin-top: -5px;
}

.works {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.multi-stories img {
  width: 100%;
}

.multi-stories {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 24px;
  margin-right: 24px;
  padding-top: 40px;
}

.multi-stories h3 {
  font-family: "Crete Round", serif;
  font-size: 28px;
}

.multi-stories p {
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-top: -5px;
}

.multi-stories ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 10px;
  margin-left: -40px;
  margin-top: -10px;
}

.multi-stories li {
  border: 1px solid #8993a4;
  padding: 8px;
  font-size: 18px;
  font-family: Inter, sans-serif;
  line-height: 20px;
  color: #091e42;
}

.multi-stories a {
  background-color: #ff6b00;
  padding: 10px;
  font-family: Inter, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 3%;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  padding: 24px;
  row-gap: 24px;
  margin-bottom: 100px;
}

.card {
  background-image: url(images/card.png);
  background-repeat: round;
  background-size: auto;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 16px;
}

.card h4 {
  font-family: "Crete Round", serif;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-bottom: -20px;
}

.card p {
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 24px;
}

.card ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 10px;
  margin-left: -40px;
  margin-top: -10px;
}

.card li {
  padding: 8px;
  font-size: 15px;
  font-family: Inter, sans-serif;
  line-height: 20px;
  color: #fff;
  background-color: rgba(105, 105, 105, 0.5);
}

.card a {
  background-color: #ff6b00;
  padding: 10px;
  font-family: Inter, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: -16px;
}

.about {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url(images/about.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 390px;
}

.about h2 {
  font-family: "Crete Round", serif;
  font-size: 72px;
  line-height: 88px;
  color: #ff6b00;
  letter-spacing: 1px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 90px;
}

.about p {
  font-size: 16px;
  font-family: "inter", sans-serif;
  color: #f4f5f7;
  line-height: 24px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: -20px;
}

.about a {
  background-color: #ff6b00;
  padding: 10px;
  font-family: Inter, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 3%;
  width: 140px;
  margin-left: 24px;
}

.set {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px;
}

.about_icon1 {
  width: 20px;
  height: 20px;
}

.set p {
  font-size: 36px;
  color: #fff;
  list-style-type: none;
  font-weight: 700;
  margin-left: -24px;
  margin-top: 50px;
}

.set h3 {
  font-size: 36px;
  color: #fff;
  list-style-type: none;
  font-weight: 700;
  margin-left: -24px;
  margin-top: 50px;
}

.set ul {
  line-height: 40px;
  padding: 0;
}

.set li {
  font-size: 22px;
  color: #fff;
  list-style-type: none;
  line-height: 42.67px;
  font-weight: 100;
  margin-top: 10px;
}

.set img {
  margin-right: 15px;
}

.bottom {
  border-bottom: 1px solid #fff;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 50%;
  background-color: transparent;
}

.form {
  display: flex;
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
  flex-direction: column;
}

.form p {
  font-family: inter, sans-serif;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.form ul {
  padding: 0;
  list-style-type: none;
}

.form li {
  padding: 24px;
}

.form input,
textarea {
  border: 0;
  border-bottom: 1px solid #dbd8d7;
  width: 100%;
  min-height: 60px;
  font-size: 24px;
  color: #172b4d;
  outline: none;
  font-family: inter, sans-serif;
}

.form label {
  display: none;
}

.form ::placeholder {
  font-size: 18px;
  font-family: inter, sans-serif;
  padding-left: 12px;
}

.form textarea {
  background-color: #fbf8f7;
  font-size: 18px;
  outline: none;
}

textarea::placeholder {
  color: #3c3a39;
}

.form button {
  background-color: #ff6b00;
  padding: 16px;
  font-family: Inter, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1px;
  border-style: none;
  margin-top: -30px;
  margin-bottom: 120px;
}

.bottomfooter ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.bottomfooter a {
  color: #505f79;
  letter-spacing: 2px;
  font-size: 36px;
  padding-left: 24px;
}

.bottomfooter {
  border-top: 1px solid #dfe1e6;
  padding: 16px;
}

.social a:hover {
  transform: rotate(360deg);
}

.set div h3 {
  display: inline;
  padding-left: 25px;
}

@media only screen and (max-width: 768px) {
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #3c3a39;
    box-sizing: border-box;
    height: 50rem;
    padding-right: 10%;
    transition: transform 30s ease-in;
  }

  .header .navbar {
    display: none;
  }

  .off {
    visibility: hidden;
  }

  .fa-times {
    transform: rotate(180deg);
  }

  .navbar a {
    color: #fff5e1;
    font-size: 32px;
    line-height: 44px;
    text-align: left;
    letter-spacing: 2px;
  }

  .navbar li {
    border-bottom: 1px solid #6f6c6b;
    padding-left: 1rem;
    margin: 10px 0;
    list-style: none;
  }

  .navbar li:nth-child(4) {
    visibility: hidden;
  }

  .works h2 {
    border-bottom: 1px solid #212121;
  }

  .works header h2 {
    font-family: "Crete Round", serif;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    margin-right: 24px;
    text-align: center;
    margin-top: 120px;
    padding-bottom: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .headline {
    background-image: url(images/Illustration-header@2x.png);
    background-repeat: no-repeat;
    background-size: calc(25% + 100px);
    padding-top: 192px;
    padding-bottom: 250px;
  }

  .headline h1,
  .headline h2,
  .headline p {
    order: 1;
    margin-left: 10%;
    max-width: 556px;
  }

  .header ul {
    display: flex;
    flex-direction: row;
    color: #fff;
    list-style: none;
    gap: 33px;
  }

  .headline footer ul {
    display: flex;
    flex-direction: column;
    line-height: 40px;
    position: absolute;
    margin-top: 80px;
  }

  .headline h1 {
    font-size: 72px;
    line-height: 81.5px;
  }

  .headline h2 {
    font-size: 32px;
    line-height: 44px;
  }

  .headline p {
    font-size: 20px;
    line-height: 32px;
  }

  .works header h3 {
    font-family: "Crete Round", serif;
    font-size: 30px;
    line-height: 52px;
    margin-left: 10%;
    text-align: left;
    margin-top: 120px;
    white-space: nowrap;
    padding-bottom: 40px;
    margin-bottom: -65px;
  }

  .recent {
    position: relative;
    z-index: 30;
    background: #fff;
    font-family: "Crete Round", serif;
    font-size: 40px;
    line-height: 52px;
    margin-left: 10%;
    text-align: left;
    margin-top: 120px;
    white-space: nowrap;
    padding-bottom: 40px;
    margin-bottom: -60px;
    width: fit-content;
    padding-right: 15px;
  }

  .multi-stories {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: 10%;
    margin-right: 10%;
    border-top: 1px solid #212121;
    padding-top: 100px;
    z-index: 1;
  }

  .multiwrapper {
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 35%;
  }

  .multiwrapper h2,
  .multiwrapper p {
    padding-left: 0;
    margin-left: 0;
    margin-top: 0;
    padding-top: 0%;
  }

  .multiwrapper h2 {
    font-size: 40px;
    line-height: 52px;
    font-style: normal;
  }

  .multiwrapper p {
    font-size: 20px;
    line-height: 28px;
  }

  .gridContainer {
    grid-template-columns: repeat(3, minmax(26.77%, 1fr));
    grid-gap: 24px;
    padding-left: 10%;
    padding-right: 10%;
  }

  .about a {
    margin-bottom: -230px;
    margin-left: 0;
  }

  .card a {
    display: none;
  }

  .navbar a {
    color: #fff;
  }

  .card:hover {
    background-image: url(images/hover.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card a:hover {
    color: lighten($red, 18%);
    letter-spacing: 3px;
    font-size: 20px;
    transition: all 0.3s;
  }

  .card:hover > .hide {
    display: none;
  }

  .card:focus-within > .hide {
    display: none;
  }

  .card:focus-within > a {
    display: block;
  }

  .card:hover > a {
    display: block;
  }

  .about {
    background-image: url(images/bottombackground.png);
    padding: 10%;
    padding-top: 20px;
    background-position-x: right;
    background-position-y: 20%;
    background-size: calc(25% + 100px);
  }

  .about h2 {
    margin-bottom: 48px;
    padding-left: 0;
  }

  .about p {
    width: 40%;
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 20px;
    max-height: 5000px;
    padding-left: 0;
  }

  .about .bottom {
    display: none;
  }

  .set {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: flex-start;
    gap: 20px;
    margin-top: 350px;
    border-top: #f4f5f7 solid 1px;
    padding-top: 150px;
  }

  .set p {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-size: 32px;
    min-width: 200px;
  }

  .set li {
    text-align: left;
  }

  .set img {
    padding: 0;
    margin: 0;
    max-width: 18px;
    max-height: 18px;
    margin-right: 10px;
  }

  .form {
    flex-direction: row;
    padding: 135px;
  }

  .form p {
    max-width: 30%;
    text-align: left;
    font-size: 40px;
    color: #262626;
    line-height: 52px;
    font-weight: bold;
  }

  .form form {
    flex-direction: row;
    width: 50%;
    text-align: left;
  }

  .form button {
    margin-left: 24px;
  }

  .form input,
  textarea {
    width: 150%;
  }

  .header {
    padding: 1% 10% 1% 10%;
  }

  #menu {
    display: none;
  }

  .navbar i {
    width: 22px;
    height: 18px;
  }
}

.active {
  display: block !important;
}
