@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins:wght@500&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  background-color: #3c3a39;
  justify-content: space-between;
  height: 48px;
  align-items: center;
}

.wrapper .hamburger {
  height: 40px;
  width: 40px;
  margin-right: 24px;
  margin-top: 18px;
}

.wrapper img {
  height: 24px;
  width: 24px;
}

.wrapper p {
  font-size: 18px;
  color: #fff;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 24px;
}

.wrapper a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1c1a19;
  gap: 12px;
  padding-top: 140px;
  padding-bottom: 140px;
  justify-content: flex-start;
  background-image: url("./icons/Group.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 100%;
}

.headline h1 {
  color: #ff6b00;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  font-family: "Crete Round", serif;
  line-height: 64px;
  letter-spacing: 0.37px;
  margin-bottom: -25px;
  margin-top: -25px;
  padding-left: 24px;
}

.headline h2 {
  font-family: "Roboto", sans-serif;
  color: #fff5e1;
  margin-bottom: -15px;
  padding-left: 24px;
}

.headline p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-left: 24px;
  padding-right: 24px;
}

.social a {
  color: #dbd8d7;
  letter-spacing: 2px;
  font-size: 24px;
  padding-left: 24px;
}

.social ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-left: 5px;
  margin-top: -5px;
}

.works {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.works header h3 {
  font-family: "Crete Round", serif;
  font-weight: 00;
  font-size: 40px;
  vertical-align: center;
  line-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #212121;
  margin-left: 25px;
  margin-right: 24px;
  text-align: center;
  margin-top: 120px;
  white-space: nowrap;
  padding-bottom: 40px;
}

.multi-stories img {
  width: 100%;
}

.multi-stories {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 40px;
}

.multi-stories h2 {
  font-family: "Crete Round", serif;
  font-style: regular;
  font-size: 28px;
}

.multi-stories p {
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin-top: -5px;
}

.multi-stories ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 10px;
  margin-left: -40px;
  margin-top: -10px;
}

.multi-stories li {
  border: 1px solid #8993a4;
  padding: 8px;
  font-size: 18px;
  font-family: Inter, sans-serif;
  line-height: 20px;
  color: #091e42;
}

.multi-stories a {
  background-color: #ff6b00;
  padding: 10px;
  font-family: Inter, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 3%;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  padding: 24px;
  row-gap: 24px;
  margin-bottom: 100px;
}

.card {
  background-image: url(images/card.png);
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 16px;
}

.card h2 {
  font-family: "Crete Round", serif;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-bottom: -20px;
}

.card p {
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: #fff;
  font-style: regular;
  line-height: 24px;
}

.card ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 10px;
  margin-left: -40px;
  margin-top: -10px;
}

.card li {
  padding: 8px;
  font-size: 15px;
  font-family: Inter, sans-serif;
  line-height: 20px;
  color: #0fff;
  background-color: rgba(107, 107, 107, 0.5);
}

.card a {
  background-color: #ff6b00;
  padding: 10px;
  font-family: Inter, sans-serif;
  font-style: bold;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 3%;
  text-align: center;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: -16px;
}

.about {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url(images/about.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 390px;
}

.about h2 {
  font-family: "Crete Round", serif;
  font-size: 72px;
  line-height: 88px;
  color: #ff6b00;
  letter-spacing: 1px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 90px;
}

.about p {
  font-size: 16px;
  font-family: "inter", sans-serif;
  color: #f4f5f7;
  line-height: 24px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: -20px;
}

.about a {
  background-color: #ff6b00;
  padding: 10px;
  font-family: Inter, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 3%;
  width: 140px;
  margin-left: 24px;
}

.set {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  margin-left: -24px;
}

.about_icon1 {
  width: 20px;
  height: 20px;
}

.set p {
  font-size: 36px;
  color: #fff;
  list-style-type: none;
  font-weight: 700;
  margin-left: -24px;
  margin-top: 50px;
}

.set ul {
  line-height: 40px;
  margin-top: -10px;
  padding: 0;
}

.set li {
  font-size: 22px;
  color: #fff;
  list-style-type: none;
  line-height: 42.67px;
  font-weight: 100;
  margin-top: 10px;
}

.set img {
  margin-right: 15px;
}

.bottom {
  border-bottom: 1px solid #fff;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 50%;
  background-color: transparent;
}

.form {
  display: flex;
  text-align: center;
  padding-left: 24px;
  padding-right: 24px;
  flex-direction: column;
}

.form p {
  font-family: inter, sans-serif;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  font-style: bold;
}

.form ul {
  padding: 0;
  list-style-type: none;
}

.form li {
  padding: 24px;
}

.form input,
textarea {
  border: 0;
  border-bottom: 1px solid #dbd8d7;
  width: 100%;
  min-height: 60px;
  font-size: 24px;
  color: #172b4d;
  outline: none;
  font-family: inter, sans-serif;
}

.form textarea {
  rows: 2;
}

.form label {
  display: none;
}

.form ::placeholder {
  font-size: 18px;
  font-family: inter, sans-serif;
  padding-left: 12px;
}

.form textarea {
  background-color: #fbf8f7;
  font-size: 18px;
  outline: none;
}

textarea::placeholder {
  color: #3c3a39;
}

.form button {
  background-color: #ff6b00;
  padding: 10px;
  font-family: Inter, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 3%;
  border-style: none;
  margin-top: -30px;
  margin-bottom: 120px;
}

.bottomfooter ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.bottomfooter a {
  color: #505f79;
  letter-spacing: 2px;
  font-size: 24px;
  padding-left: 24px;
}

.bottomfooter {
  border-top: 1px solid #dfe1e6;
}
